<footer class="text-center text-lg-start bg-dark text-white mt-5">
    <section class="container d-flex justify-content center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>

    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <!-- <i class="fa fa-cart-plus" aria-hidden="true"></i> -->
                        ShopKart
                        <img src="https://th.bing.com/th/id/R.984e6c563e1b12f4849dbdd29af55429?rik=C%2faY251Os%2fhFlg&riu=http%3a%2f%2ffindicons.com%2ffiles%2ficons%2f1700%2f2d%2f512%2fcart.png&ehk=%2fd%2b3k%2fPNfjLeO50WugykB6pL47QGhiPC7t4K9IG2e4c%3d&risl=&pid=ImgRaw&r=0" alt="cart" height="20px">
                    </h6>
                    <p>Shopkart.com is a on step destination for your family's fashion needs. we give you the
                        opportunity to give our wardrobe a makeover with the latest collections from our top brands</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
                    <p><a href="/" class="text-reset">Home</a></p>
                    <p><a href="/register" class="text-reset">Register</a></p>
                    <p><a href="/collections" class="text-reset">Collections</a></p>
                    <p><a href="#career" class="text-reset">Career</a></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Collections</h6>
                    <p><a href="/collections/Mobile" class="text-reset">Mobile</a></p>
                    <p><a href="/collections/Electronics" class="text-reset">Electronics</a></p>
                    <p><a href="/collections/Home%20&%20kitchen" class="text-reset">Home & Kitchen</a></p>
                    <p><a href="/collections/Sports,%20Fitness%20&%20Outdoor" class="text-reset">Sports & Fitness</a>
                    </p>
                    <p><a href="/collections/Clothing%20&%20Accessories" class="text-reset">Cloths & Accessories</a></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i> Shopkart</p>
                    <p><i class="fa fa-envelope"></i> shopkart@mail.com</p>
                    <p><i class="fa fa-phone"></i> +91 9786425301</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4">
        &copy; 2024 Copyright <a class="text-reset fw-bold" href="#">ShopKart</a>
    </div>
</footer>